{% extends "base.html" %}

{% block title %}
    Arkadiusz
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col1 d-flex justify-content-center h2">Welcome to our Pirate Cantor</div>
    <div class="col-2"></div>
  </div>
    <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col"><img src="{{ url_for('static', filename='flaga_pirat.jpg') }}" class="rounded mx-auto d-block"></div>
    <div class="col-2"></div>
  </div>
  <div class="row mt-5">
    <div class="col-8 with-margin">Cantor Pirat &trade; register in Luxemburg</div>
    <div class="col-4 with-margin" style="text-align: right;"><p class="text-right">&copy; 2000</p></div>
  </div>
</div>
{% endblock %}